{% extends "template.html.twig" %}

{% block title %}
    {{ parent() }}
    - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/accueil.css')}}"/>
{% endblock %}

{% block body %}
    <body class="couleurfond">

        <header>
            <div class="container-fluid espacement">
                <div class="row container">
                    <h3 class="police">Facilitez les rencontres entre recruteurs et candidats !</h3>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <a href="{{ path('candidat_new') }}" type="button" class="btn btn-info col-md-offset-1 col-md-2  col-xs-offset-5 col-xs-2 colorbouttton">Je m'inscris</a>
                </div>
            </div>

        </header>

        <div class="layerbg séparation">
        <h3 id="commentCaMarche" class="text-position police ">Comment ça marche ?</h3> 
        <div class="container-fluid espacement ">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 text-position policebot "><b>Un matching</b>
                    <i class="fad fa fa-3x fa-handshake-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-4 text-position policebot "><b>NO SPAM</b>
                    <i class="fad fa fa-3x fa-ban" aria-hidden="true"></i></div>
                    <div class="col-md-4 text-position policebot "><b>Dites que vous êtes intéréssé</b>
                    <i class="fad fa fa-3x fa-comments-o" aria-hidden="true"></i></div>   
                </div>
            </div>
        </div>
        <div class="container-fluid espacement">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-4 text-position policebot ">Inscrivez-vous et recevez les offres qui matchent sur les compétences, le salaire, l'expérience et le type de société.</div>
                    <div class="col-md-4 text-position policebot ">Vous êtes libre d’accepter ou de refuser de lever votre anonymat suite à une demande recruteur.</div>
                    <div class="col-md-4 text-position policebot ">Vous avez aussi l'opportunité de vous déclarer intéressé par un matching auprès d'un recruteur en un clic !</div>   
                </div>
            </div>
        </div>
        </div>
        <footer>
            <div class="container-fluid espacement">
                <div class="row">
                </div>
            </div>
            <p class="text-position " >Mentions légales | AdoptUnBoss 2017 ©  </p>
        </footer>
    </body>
{% endblock %}

