{% extends 'template.html.twig' %}

{% block title %}
    {{ parent()}}
    - Login
{% endblock %}

{% block body %}
<form action="{{ path('loginCheck')}}" method="post">
    <input type="text" id="email" name="_username" placeholder="Email" value=""/>
    <input type="password" id="mdp" name="_password" placeholder="mot de passe" value=""/>
    <input type="submit" value="Login"/>
</form>
{% endblock %}