<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('home') }}">Adopte un patron</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('offre_index') }}"><span class="fa fa-bolt" aria-hidden="true"></span> Nos offres</a></li>
            <li><a href="#commentCaMarche"><span class="fa fa-question-circle" aria-hidden="true"></span> Comment ça marche</a></li>
            <li><a href="{{ path('candidat_new') }}"><span class="fa fa-user-plus" aria-hidden="true"></span> Inscription </a></li>
            <li><a href="{{ path('login') }}"><span class="fa fa-sign-in" aria-hidden="true"></span> Connexion </a></li>
        </ul>
    </div>
</nav>
