<nav class="navbar navbar-default" data-spy="affix" data-offset-top="0">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('home') }}">Adopte un patron</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('offre_index') }}">Nos offres</a></li>
            <li><a href="#commentCaMarche">Comment ça marche</a></li>
            <li><a href="{{ path('candidat_new') }}"><span class="fa fa-user-o" aria-hidden="true"></span> Inscription </a></li>
            <li><a href="{{ path('login') }}"><span class="fa fa-sign-in" aria-hidden="true"></span> Connexion </a></li>
        </ul>
    </div>
</nav>
