body {
  background-color: #185e99; }

.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  border-bottom: 2px solid #ebffff; }

ul {
  list-style: none;
  padding: 0; }

/* 
    Created on : 13 janv. 2017, 11:54:48
    Author     : jeanchristian-petetin
*/
h1, h2, h3, h4, a {
  color: #ebffff; }

.noPadding {
  padding: 0; }

.fond {
  background-color: #185e99;
  padding: 0; }
  .fond h1 {
    background-color: #94c11e;
    text-align: center;
    margin: 0 0 50px 0; }

.offre {
  border-bottom: 2px solid #ebffff;
  background-color: #94c11e;
  margin-bottom: 2%; }
  @media screen and (max-width: 768px) {
    .offre {
      border-top: 2px solid #ebffff;
      margin-bottom: 5%; } }

@media screen and (max-width: 768px) {
  .hideResponsive {
    display: none; } }

/* mise en forme des offres */
.head {
  display: flex;
  justify-content: space-between; }

.decal {
  margin-right: 10px; }

/* partie Offre details */
.contour {
  padding: 10px; }

.textRight {
  text-align: right; }


  
  table th, tr th, th th, td th {
    background-color:#ebffff;
;
    color:  #185e99;;    

     
  }
  table td, tr td, th td, td td {
    color: #ebffff;
    padding-left: 10px;
  }

  #infodebut{
      margin-bottom:25px;
      
      padding:10px;
     
  }
  #OffreInfo{
    box-shadow: 2px 2px 2px black inset;
    background-color: #94c11e;
    padding:10px;
    margin:35px;

  }
  .info{
     box-shadow: 2px 2px 2px black inset;
     padding:20px;
     margin:35px;
     background-color: #94c11e;
     margin-left: 100px;
      }
  .offreindex{
      
      margin-top:10px;
      box-shadow: 2px 2px 2px black inset;
      background-color: #94c11e;;
      padding:20px;
      margin:35px;
      margin-left: 100px;
    }
