.text-position{
    text-align: center; 
}
.colorbouttton {
    background-color:  $couleursecondaire;
    border-radius: 0px;
}

.position {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    
}



