.text-position{
    text-align: center; 
}
.colorbouttton {
    background-color:  $couleursecondaire;
    border-radius: 0px; 
    padding-left: 0px;
    padding-right: 0px;
    min-width: 170px;
    transition: 0.5s;
}
