.navbar{
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    border-bottom: 2px solid $couleurprincipale;
}

ul{
    list-style: none;
    padding: 0;
}
/* 
    Created on : 13 janv. 2017, 11:54:48
    Author     : jeanchristian-petetin
*/

