.text-position{
    text-align: center; 
}
.colorbouttton {
    background-color:  $couleursecondaire;
}

.policespecial{
        font-size: 20px;
    color: $couleurprincipale;
}

a{
    text-align: center; 
     font-size: 20px;
    color: $couleurprincipale;
}


