body {
    margin-bottom: 50px;
}
.police {
    font-size: 27px;
    color: $couleurprincipale;
}

.séparation {
    border-top: solid 2px $couleursecondaire ;
}


.policebot {
     font-size: 17px;
    color: $couleurprincipale;
}
.espacement{
 
    margin-bottom: 40px;  
}

.couleurfond {
    background-color: $couleurcomplementaire;
}

.couleurmid {
    background-color: $couleursecondaire;
}

